<div class="container">
    <div class="row">
        <h2>My Dashboard</h2>
    </div>
    <div id="notification" class="row" >
        <app-notification-marquee style="width:100%; padding:1%;"></app-notification-marquee>
    </div>
    <div id="placeholder" class="row">
        <app-placeholderbadge style="width:100%;"></app-placeholderbadge>
    </div>
    
    <div class="row">
    <!-- <div class="wrapper">
    
        
      <section class="columns">-->
        
        <div class="col-4">
            <app-skills-placeholder></app-skills-placeholder>
        </div>
        
        <div class="col-4">
            <app-certification-placeholder></app-certification-placeholder>
        </div>
        
        <div class="col-4" >
            <app-training-placeholder></app-training-placeholder>
         
        </div>
        
      <!-- </section>	
      
      </div> -->
      </div>
      </div>