
#back-to-skill
{
    background: linear-gradient(to right, #0697C3 , #4DBFE2);
    color: white;
    width:150px;
    height:40px;
    margin-top:5px;
    margin-left:65px;
}


#textHeader{
    font-size:150%; 
    color: rgba(0, 0, 0, 0.71);
}

.table{
    width:90%;
    padding: 0%;
    background-color:white !important;
    border: 1px solid #E6E6E6;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.16); 
    color: rgba(0, 0, 0, 0.71);
    
}

button[id*="rate-button"]{

    background: linear-gradient(to right, #04AF0B , #40C940);
    color: white;
    width:100%;
    
}

@media(max-width:610px){
    button[id*="rate-button"]{
        width: 100%;
        font-size: 60%;
        padding: 0%;
    }
    .table{
        padding: .5%;

    }

}

