<div class="container-fluid">
  <div class="row">
    <h2 style="margin-top:2%; margin-left:5%" id="head">Skills</h2>
  </div>
  
    <div class="panel-body">
      <ul id="skill-nav" class="nav nav-tabs justify-content-left" style="cursor:pointer">
        <li class="nav-item">
          <!-- (click)="focusOn(1)" -->
          <a id="myskill"  class="nav-link"  [routerLink]="['myskill']" routerLinkActive="active">
            My Skills
          </a>
        </li>
        <li class="nav-item">
          <!-- (click)="focusOn(2)" -->
          <a id="allskill" class="nav-link"  [routerLink]="['allskill']" routerLinkActive="active">
            All Skills
          </a>
        </li>
      </ul>
    </div>
  
  <br> <br>
  <router-outlet></router-outlet>
</div>