
  
    <div class="col-12">

      <h2 style="padding-top:2%">Skills</h2>
    

    <div class="row mb-xl-4 mb-lg-4 mb-md-3 mb-sm-2 mb-1">
      <div class="col-12">
        <ul id="skill-nav" class="nav nav-tabs justify-content-center" style="cursor:pointer">
          <li class="nav-item">
          
            <a id="myskill"  class="nav-link"  [routerLink]="['myskill']" routerLinkActive="active">
              My Skills
            </a>
          </li>
          <li class="nav-item">
        
            <a id="allskill" class="nav-link"  [routerLink]="['skillgroup']" routerLinkActive="active">
              All Skills
            </a>
          </li>
        </ul>
      </div>
    </div>
    
    <router-outlet></router-outlet>
    </div>
  

  
  
  
