#view-detail
{
    background: linear-gradient(to right, #0697C3 , #4DBFE2);
    color: white;
    width:150px;
    height:40px;
    margin-top:5px;
    margin-left:0px;
}

.card{
    background:rgba(199, 195, 195, 0.678);
}
.card-text{
    padding: 2%;
}