
<div class="row">
  <div class="col-12 table-responsive-md border-botttom-1">
    <table class="table">
      <thead>
      </thead>

      <tbody>
        <tr *ngFor="let skill of skills">
          <td id="tdname">{{skill}}</td>

          <td id="tdbutton">
            <!-- to be placed inside button later   routerLinkActive="active" -->
            
            <button id="explore-button" type="button" class="btn" [routerLink]="['explore',skillGroup +'_' + skill]" >Explore</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
