<div class="row">
  <div class="col-1">
  <button class="btn btn-block" *ngIf="(year>currYear)||(year==currYear && month>=currMonth)" (click)="previous()">&lt;</button>
  </div>
  <div class="col-1">
  <button class="btn btn-block"  (click)="next()">></button>
  </div>
  <div class="col-10">
  <h2>{{months[month]}} {{year}}</h2>
  </div>
</div>

  <table style="margin-top:10px" class="table border table-reponsive" *ngFor="let trainingDomain of trainingAvailable|monthfilter2:month:year">
    <tr>
      <th colspan="3">{{trainingDomain.training?.name}}</th> 
    
      <!-- {{event?.start|date}} -->
    </tr>

    <tr>
      <td width="30%">
        <p>{{trainingDomain.training?.trainer}}</p>
        
        <p>
          <span>{{trainingDomain.training?.location}}</span>
          <!-- {{event?.trainer}} -->
        </p>
        <span>Seats : {{trainingDomain.training?.seats}}</span>


      </td>
      <td width="30%">
        <p>{{trainingDomain.trainingSessions[0].trainingDate|date}}</p>
        
        <p>
          <span>{{trainingDomain.trainingSessions[0].startTime}} - {{trainingDomain.trainingSessions[0].endTime}}</span>
          <!-- {{event?.trainer}} -->
        </p>
        <span>
            <div ngbDropdown class="d-inline-block">
            <button id="enrollment" type="button" class="btn btn-right" id="trainingDomain.training?.name" ngbDropdownToggle>More Sessions</button>
             <ul ngbDropdownMenu aria-labelledby="trainingDomain.training.name">
                <li class="dropdown-item" *ngFor="let trainingSession of trainingDomain.trainingSessions">
                  {{ trainingSession.trainingDate|date }}   &nbsp; &nbsp;     {{trainingSession.startTime}}-{{trainingSession.endTime}}
                </li>
              </ul>
            </div>
        </span>
      </td>
      <td width="30%" class="button">
        <button id="enrollment" type="button" (click)="enrollTraining(trainingDomain.training?.id)" class="btn btn-right">Enroll</button>
      </td>
    </tr>

  </table>